<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>Home
            </a>
            <a mat-list-item routerLink="/technics">
                <i class="material-icons">work</i>Technician
            </a>
            <a mat-list-item routerLink="/clients">
                <i class="material-icons">person_search</i>Client
            </a>
            <a mat-list-item [matMenuTriggerFor]="menu">
                <mat-menu #menu="matMenu">
                    <a routerLink="os" mat-menu-item> Open or in Progress</a>
                    <a routerLink="os/closed" mat-menu-item> Close</a>
                </mat-menu>
                <i class="material-icons">person_pin</i>Service Orders
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <button type="mat-icon-button" mat-button (click)="drawer.toggle()">
       <mat-icon>more_vert</mat-icon>
      </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>